<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hfuu.gaofei.drug.dao.impl.DrugDaoImpl">

    <sql id="drug">drug</sql>

    <insert id="insert" parameterType="hfuu.gaofei.drug.entity.Drug" keyProperty="id"  useGeneratedKeys="true">
        INSERT INTO <include refid="drug"/> (name,price,drugTypeId,imgUrl,content) values(#{name},#{price},#{drugTypeId},#{imgUrl},#{content})
    </insert>

    <select id="getListBy" parameterType="java.util.HashMap" resultType="Drug">
        SELECT id,name,price,drugTypeId,imgUrl,content,DATE_FORMAT(createtime,"%Y-%m-%d %H:%m") as createtime,
         status FROM <include refid="drug"/> d WHERE d.status != 9
        <if test="id != null and id !=''">and d.id = #{id}</if>
        <if test="name!=null and name!=''">and d.name like CONCAT('%',#{name},'%')</if>
        <if test="drugTypeId != null and drugTypeId !=''">and d.drugTypeId = #{drugTypeId}</if>
        <if test="content != null and content !=''">and d.content like CONCAT('%',#{content},'%')</if>
        <if test="status != null and status !=''">and d.status = #{status}</if>
    </select>


    <update id="update" parameterType="Drug">
        UPDATE <include refid="drug"/> d SET d.status = 1
        <if test="name != null and name !=''">,d.name = #{name}</if>
        <if test="price != null and price !=''">,d.price = #{price}</if>
        <if test="drugTypeId != null and drugTypeId !=''">,d.drugTypeId = #{drugTypeId}</if>
        <if test="content != null and content !=''">,d.content = #{content}</if>
        <if test="status != null and status !=''">,d.status = #{status}</if>
        WHERE status != 9 and d.id = #{id}
    </update>
</mapper>